@model List<DesignWeb_Project.Areas.Admin.Models.DataModel.Product>

@if (Model.Count > 0)
{
foreach (var item in Model)
{

    <div class="itemResults">
        <div class="wrapItem clearfix">
            <div class="pull-left image">
                <a href="/products/@item.CategoryID/@item.ProductID/@item.Alias" title="@item.ProductName">
                    <img alt="@item.ProductName" src="@item.Images">
                </a>
            </div>
            <div class="pull-left info">
                <a href="/products/@item.CategoryID/@item.ProductID/@item.Alias" title="@item.ProductName">
                    @item.ProductName
                </a>
                <p class="pdPrice">

                    <span>@String.Format("{0:0,0₫}", item.Price)</span>
                    @if (item.PriceSale > item.Price)
                    {
                        <del class="pdComparePrice">@String.Format("{0:0,0₫}", item.PriceSale)</del>
                    }
                </p>
            </div>
        </div>
    </div>
}

}
else
{
    <p class="dataEmpty">
        Không tìm thấy sản phẩm nào...
    </p>
}