@model PagedList.IPagedList<DesignWeb_Project.Models.ProductModel>
@using PagedList.Mvc;
@{
    foreach (var item in ViewBag.getCate)
    {
        ViewBag.Title = item.CategoryName;
        ViewBag.MetaTittes = item.MetaTitle;
        ViewBag.MetaKeyword = item.MetaKeyword;
        ViewBag.MetaDescription = item.MetaDescription;

    }
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

<section id="insCollectionPage">
    <div class="insBreadcrumb ">
        <div class="container">
            <div class="breadcrumb-wrap">
                <ol class="breadcrumb breadcrumb-arrow hidden-sm hidden-xs">
                    <li><a href="#" target="_self">Trang chủ</a></li>
                    @{ int k = 1;}
                    
                    @foreach (var item in ViewBag.getCate)
                    {
                        if (k == 1)
                        {
                    <li class="active"><span>@item.CategoryName</span></li>
                        }
                        k++;
                    }
                </ol>
            </div>
        </div>
    </div>
    <div class="collectionBanner insScroll animated zoomIn">
        <div class="banner">
            <img class="insImageload" src="../images/2_1d4fec18e2994965932185db6de6539c_master.jpg" alt="" />
        </div>
    </div>
    <div class="collection_head relative">
        <div class="container">
            <div class="boxSortHead relative">
                <div class="page_head">
                    
                        @{ int l = 1;}
                        @foreach (var item in ViewBag.getCate)
                        {
                            if (l == 1)
                            {
                                <h1 class="collection_title ins_title">
                                    @item.CategoryName
                                </h1>
                            }
                            l++;
                        }
                            
                    <span class="countPd">(@ViewBag.count_product sản phẩm)</span>
                </div>

                <ul class="display-product-option notStyle">
                    <li class="view-as-grid selected" data-view="view_grid">
                        <span>grid</span>
                    </li>
                    <li class="view-as-list" data-view="view_list">
                        <span>list</span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="main bg_w">
            <div class="row">
                <div class="center_column col-xs-12 col-sm-12 col-md-12 product-col" id="center_column">
                    <!-- view-product-list-->
                    <div id="view-product-list" class="view-product-list">
                        <div id="pd_collection">
                            <ul class="product-list filter products row notStyle">

                                @foreach (var item in Model)
                                {
                                    <li class="item_product col-md-3 col-sm-3 col-xs-6">
                                        <div class="pdLoopItem animated zoomIn">
                                            <div class="itemLoop clearfix">
                                                <div class="pdLoopImg imageHovers">
                                                    @if (item.PriceSale > item.Price)
                                                    {
                                                        decimal sale_ciels = item.PriceSale - item.Price ?? 0;
                                                        decimal pt_sales = (item.Price * 100) / item.PriceSale ?? 0;
                                                        pt_sales = 100 - pt_sales;

                                                        <div class="pdLabel sale">
                                                            <span>Giảm @Math.Ceiling(pt_sales)%</span>
                                                        </div>
                                                    }
                                                    <a href="/products/@item.CategoryID/@item.ProductID/@item.Alias" title="@item.ProductName">
                                                        <img src="@item.Images" data-reg="false" class="imgLoopitem" alt="@item.ProductName">
                                                    </a>
                                                    <div class="pdLoopAction">
                                                        <div class="listAction">
                                                            <a href="javascript:void(0)" class="btnLoop btn-quickview-1" data-id="@item.ProductID" data-toggle="tooltip" data-placement="left" title="Xem nhanh"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                                            <a href="/products/@item.CategoryID/@item.ProductID/@item.Alias" class="btnLoop view_product" data-toggle="tooltip" data-placement="left" title="Xem chi tiết"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                                            <a href="javascript:void(0)" class="add-cart btnLoop Addcart" data-variantid="@item.ProductID" title="Thêm vào giỏ"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pdLoopDetail text-center clearfix">
                                                    <h3 class="pdLoopName"><a class="productName" href="/products/@item.CategoryID/@item.ProductID/@item.Alias" title="@item.ProductName">@item.ProductName</a></h3>
                                                    <p class="pdPrice">
                                                        <span> @String.Format("{0:0,0₫}", item.Price)</span>
                                                        @if (item.PriceSale > item.Price)
                                                        {
                                                            <del class="pdComparePrice">@String.Format("{0:0,0₫}", item.PriceSale)</del>
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                }


                            </ul>
                            <div class="clearfix"></div>
                            <div class="col-md-12 content_sortPagiBar pagi">
                                <div id="pagination">
                                    @Html.PagedListPager(Model, page => Url.Action("/all", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Left colunm -->

            </div>
        </div>
    </div>
</section>

