
@model List<DesignWeb_Project.Areas.Admin.Models.DataModel.MenuNavigation>

<div id="headerNav" class="col-lg-6 col-md-7 col-sm-12 col-xs-12">
    <nav id="navWrap" class="nav navSiteMain">
        <!--
        <div class="loginMB visible-xs">
            <div class="wrapLogin clearfix">
                <div class="icon">
                    <img src="../images/icon_avatar.png" alt=" ">
                </div>
                <div class="user">
                    <a class="log-only" href="#" title="Đăng nhập">Đăng nhập</a>
                    <h3>
                        Thông tin tài khoản
                    </h3>
                </div>
            </div>
        </div>
        -->
        <ul class="nav-navbar clearfix">
            @foreach (var item in Model)
            {
                <li>
                    @{
                        if (item.PageStyle == 1)
                        {

                            if (item.FormatPage == 1)
                            {
                                foreach (var cate in ViewBag.get_category)
                                {
                                    if(item.MenuID == cate.MenuID) { 
                                    <a href="/collections/@cate.CategoryID/@cate.Alias_Cate" title="@cate.MenuName" class="">
                                        <img src="@cate.IconMenu" alt="@cate.MenuName" class="navIcon" />
                                        <span>@cate.MenuName</span>
                                    </a>
                                    }
                                }
                            }
                            else if (item.FormatPage == 2)
                            {
                                foreach (var blog in ViewBag.get_blog)
                                {
                                    if (item.MenuID == blog.MenuID)
                                    {
                                    <a href="/blogs/@blog.BlogID/@blog.Alias_Blog" title="@blog.MenuName" class="">
                                        <img src="@blog.IconMenu" alt="@blog.MenuName" class="navIcon" />
                                        <span>@blog.MenuName</span>
                                    </a>
                                    }
                                }
                            }
                        }
                        else if (item.PageStyle == 2)
                        {
                            <a href="/pages/@item.MenuID/@item.MenuName" title="@item.MenuName" class="">
                                <img src="@item.IconMenu" alt="@item.MenuName" class="navIcon" />
                                <span>@item.MenuName</span>
                            </a>
                        }
                        else if (item.PageStyle == 3)
                        {
                            <a href="@item.PageLink" title="@item.MenuName" class="">
                                <img src="@item.IconMenu" alt="@item.MenuName" class="navIcon" />
                                <span>@item.MenuName</span>
                            </a>
                        }
                        else if (item.PageStyle == 4)
                        {
                            <a href="/pages/@item.MenuName" title="@item.MenuName" class="">
                                <img src="@item.IconMenu" alt="@item.MenuName" class="navIcon" />
                                <span>@item.MenuName</span>
                            </a>
                        }

                    }

                    @Html.Action("LoadParent", "Home",new { id = item.MenuID})
                </li>
            }

<!--
            <li class="account">
                <a href="javascript:void(0)"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                <div class="wrap mainChild">
                    <ul class="notStyle accountList">
                        <li><a class="reg" href="#" title="Đăng ký">Đăng ký</a></li>
                        <li> <a class="log-only" href="#" title="Đăng nhập">Đăng nhập</a></li>
                    </ul>
                </div>
            </li>
    -->
        </ul>
        <div class="visible-xs closeMenuMB text-center">
            <a href="javascript:void(0)" class="closeNav viewAll">Đóng</a>
        </div>
    </nav>
</div>