@model IEnumerable<DesignWeb_Project.Areas.Admin.Models.DataModel.Slide>

<section id="insHomeSlider">
    <div class="container">
        <div class="row">


            <div id="insSlider" class="col-md-8 col-sm-12 col-xs-12 bannerSlider">
                <div class="boxSlideHome">
                    <div class="owlDesign sliderWrap">

                        @foreach (var item in Model)
                        {
                            <div class="itemSlide">
                                <a href="@item.URL" title="@item.Description" target="_blank">
                                    <img class="owl-lazy" data-src="@item.Images" alt="" />
                                </a>
                            </div>
                        }


                    </div>
                    <div class="subWrap hidden-xs">
                        <ul class="listSub clearfix">

                        @foreach (var item in Model)
                        {
                            if (Model.First() == item)
                            {
                            <li class="active">
                                <a href="javascript::0" title="@item.Description">
                                    <h3>
                                       @item.Description
                                    </h3>
                                </a>
                            </li>
                            }
                            else
                            {

                            <li>
                                <a href="javascript::0" title="@item.Description">
                                    <h3>
                                        @item.Description
                                    </h3>
                                </a>
                            </li>
                            }
                        }



                        </ul>
                    </div>
                </div>
            </div>


            <div id="insBannerRight" class="col-md-4 col-sm-12 col-xs-12 bannerSlider">
                <div class="wrapBannerRight">
                    <ul>
                    @foreach (var banner in ViewBag.getBanner)
                    {
                        <li>
                            <a href="@banner.Link_banner_1"><img src="@banner.Banner_1" alt="" /></a>
                        </li>
                        <li>
                            <a href="@banner.Link_banner_2"><img src="@banner.Banner_2" alt="" /></a>
                        </li>
                    }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>